<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Danh sach sinh vien</title>
	<link rel="stylesheet" href="importer.css">
	<!--ma sao linhk file javascript lai la href nhi to tuong la src='' chu-->
	<script type="text/javascript" src="js.js"></script>
	<link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
</head>
<body>
    <div>
        <form action="/delete-student" method="POST">
            <input type="text" name="mssv" value="<%=mssv%>">
            <input type="text" value="<%=name%>">
            <p>Ban thuc su muon xoa sinh vien</p>
            <input type="submit" value="OK">
            <button><a href="/student/<%=mssv%>">Back</a></button>
        </form>
    </div>
</body>
<script type="text/javascript" src="js.js"></script>
</html>