<form action="/delete-student" method="POST">
    <input type="text" name="mssv" value="<%=mssv%>">
    <input type="text" value="<%=name%>">
    <p>Ban thuc su muon xoa sinh vien</p>
    <input type="submit" value="OK">
    <button><a href="/student/<%=mssv%>">Back</a></button>
</form>