<!DOCTYPE>
<html>
<head>
<meta charset="utf-8" />
<title>login</title>
<link rel="stylesheet" type="text/css" href="style.css" />
<link href='http://fonts.googleapis.com/css?family=Belgrano' rel='stylesheet' type='text/css'>
</head>
<body>
<div id="loginpanelwrap">
  	
	<div class="loginheader">
    <div class="logintitle"><a href="#">Login</a></div>
    </div>
     
    <div class="loginform">
        <form action="" method="post">
        
       		 <div class="loginform_row">
       			 <label>Username:</label>
       			 <input type="text" class="loginform_input" name="txt_username" />
       		 </div>
       		 <div class="loginform_row">
      			  <label>Password:</label>
       			 <input type="password" class="loginform_input" name="txt_passwd" />
       		 </div>
       		 <div class="loginform_row">
       			 <input type="submit" class="loginform_submit" value="Login" name="btnLogin" />

       		 </div>
        <div class="clear"></div>
        </form>
       

    </div>
 

</div>

    	
</body>
</html>