<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div id="main">
	<header><h2>Hệ thống quản lý sinh viên</h2></header>
	<div id="content">
		<div id="divInfo">
			<p>Đang xem <span id="spanInfo"></span></p>
		</div>
		<div id="divInsert">
			<button id="btnInsert" onclick="showInsertWindow()"><i class="glyphicon glyphicon-plus"></i>Thêm sinh viên</button>
		</div>
		<div id="divSearch">
			<button id="btnSearch"><i class="glyphicon glyphicon-search"></i>Tìm kiếm</button>
			<input type="text" id="inputSearch" placeholder="Tìm theo tên, mã sinh viên..">
		</div>
		<div id="divTable">
			<table cellpadding="7">
				<caption>Danh sách sinh viên</caption>
				<thead>
						<th>
							<p>Tùy chọn</p>
						</th>
						<th>
							<div class="inTh">
								Mã Sinh Viên
							</div>
							<div id="mssv" class="inTh">
								<button class="btnChangeOrder" onclick="onOrderStateChange('mssv', 'ASC')">
									<i class="glyphicon glyphicon-circle-arrow-up"></i>
								</button>
							</div>
						</th>
						<th>
							<div class="inTh">Họ và Tên</div>
							<div id="name" class="inTh">
								<button class="btnChangeOrder" onclick="onOrderStateChange('name', 'ASC')">
									<i class="glyphicon glyphicon-circle-arrow-up">										
									</i>
								</button>
							</div>
						</th>
						<th>
							<div class="inTh">Ngày sinh</div>
							<div id="dateOfBirth" class="inTh">
								<button class="btnChangeOrder" onclick="onOrderStateChange('dateOfBirth', 'ASC')">
										<i class="glyphicon glyphicon-circle-arrow-up"></i>
								</button>
							</div>
						</th>
						<th>
							<div class="inTh">Giới tính</div>
							<div id="gender" class="inTh">
								<button class="btnChangeOrder" onclick="onOrderStateChange('gender', 'ASC')">
									<i class="glyphicon glyphicon-circle-arrow-up"></i>
								</button>
							</div>
						</th>
						<th>
							<div class="inTh">Địa chỉ</div>
							<div id="address" class="inTh">
								<button class="btnChangeOrder" onclick="onOrderStateChange('address', 'ASC')">
									<i class="glyphicon glyphicon-circle-arrow-up"></i>
								</button>
							</div>
						</th>
					</tr>
				</thead>
				<tbody id="tbodyRows">
						<tr>
							<td>
								<button><i class="glyphicon glyphicon-pencil"></i>Chỉnh sửa</button>
								<button><i class="glyphicon glyphicon-remove"></i>Xóa</button>
							</td>
							<td><a>No name</a></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							
						</tr>
				</tbody>
			</table>
		</div>
		<div id="divPageNumber"></div>
	</div>
	<footer>
		<div id="divTimeInfo"></div>
	</footer>
</div>

<div id="divPopup" class="popup">
	<!-- <div class="inputElement">
		<label>Mã sinh viên</label>
		<input type="text">
	</div>
	<div class="inputElement">
		<label>Họ tên</label>
		<input type="text">
	</div>
	<div class="inputElement">
		<label>Ngày sinh</label>
		<input type="text">
	</div>
	<div class="inputElement">
		<label>Giới tính</label>
		<input type="text">
	</div>
	<div class="inputElement">
		<label>Địa chỉ</label>
		<input type="text">
	</div>
	<button id="btnInsert">Thực thi</button>
	<button id="btnClosePopup">Trở về</button> -->
</div>