<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div id="main">
	<header><h2>Hệ thống quản lý sinh viên</h2></header>
	<div id="content">
		<div id="divInfo">
			<p>Đang xem </p>
		</div>
		<div id="divInsert">
			<button id="btnInsert"><i class="glyphicon glyphicon-plus"></i>Thêm sinh viên</button>
		</div>
		<div id="divSearch">
			<button id="btnSearch"><i class="glyphicon glyphicon-search"></i>Tìm kiếm</button>
			<input type="text" id="inputSearch" placeholder="Tìm theo tên, mã sinh viên..">
		</div>
		<div id="divTable">
			<table cellpadding="7">
				<caption>Danh sách sinh viên</caption>
				<thead>
						<th>
							<p>Tùy chọn</p>
						</th>
						<th>
							Mã Sinh Viên
							<button class="btnChangeOrder"><i class="glyphicon glyphicon-sort-by-attributes"></i></button>
						</th>
						<th>
							Họ và Tên
							<button class="btnChangeOrder"><i class="glyphicon glyphicon-sort-by-attributes"></i></button>
						</th>
						<th>
							Ngày sinh
							<button class="btnChangeOrder"><i class="glyphicon glyphicon-sort-by-attributes"></i></button>
						</th>
						<th>
							Giới tính
							<button class="btnChangeOrder"><i class="glyphicon glyphicon-sort-by-attributes"></i></button>
						</th>
						<th>
							Địa chỉ
							<button class="btnChangeOrder"><i class="glyphicon glyphicon-sort-by-attributes"></i></button>
						</th>
					</tr>
				</thead>
				<tbody>
						<tr>
							<td>
								<button><i class="glyphicon glyphicon-pencil"></i>Chỉnh sửa</button>
								<button><i class="glyphicon glyphicon-remove"></i>Xóa</button>
							</td>
							<td><a>No name</a></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							
						</tr>
				</tbody>
			</table>
		</div>
		<div id="divPageNumber"></div>
	</div>
	<footer>
		<div id="divTimeInfo"></div>
	</footer>
</div>

<div id="divPopup" class="popup">
	<div class="inputElement">
		<label></label>
		<input type="text">
	</div>
	<div class="inputElement">
		<label></label>
		<input type="text">
	</div>
	<div class="inputElement">
		<label></label>
		<input type="text">
	</div>
	<div class="inputElement">
		<label></label>
		<input type="text">
	</div>
	<div class="inputElement">
		<label></label>
		<input type="text">
	</div>
	<div class="inputElement">
		<label></label>
		<input type="text">
	</div>
	<button id="btnInsert">Thực thi</button>
	<button id="btnClosePopup">Trở về</button>
</div>