<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div id="main">
	<header><h2>Hệ thống quản lý sinh viên</h2></header>
	<div id="content">
		<div id="divInfo">
			<p>Đang xem <span id="spanInfo"></span></p>
		</div>
		<div id="divInsert">
			
			<button type="button" class="btn" data-toggle="modal" data-target="#divInsertModal">
				<i class="glyphicon glyphicon-plus"></i>Thêm sinh viên
			</button>
		</div>
		<div id="divSearch">
			<button id="btnSearch"><i class="glyphicon glyphicon-search"></i>Tìm kiếm</button>
			<input type="text" id="inputSearch" placeholder="Tìm theo tên, mã sinh viên..">
		</div>
		<div id="divTable">
			<table cellpadding="7">
				<caption>Danh sách sinh viên</caption>
				<thead>
						<th class="option">
							<p>Tùy chọn</p>
						</th>
						<th class="headColumn">
							<div class="inTh">
								Mã Sinh Viên
							</div>
							<div id="mssv" class="inTh">
								<button class="btnChangeOrder" onclick="onOrderStateChange('mssv', 'ASC')">
									<i class="glyphicon glyphicon-circle-arrow-up"></i>
								</button>
							</div>
						</th>
						<th class="headColumn">
							<div class="inTh">Họ và Tên</div>
							<div id="name" class="inTh">
								<button class="btnChangeOrder" onclick="onOrderStateChange('name', 'ASC')">
									<i class="glyphicon glyphicon-circle-arrow-up">										
									</i>
								</button>
							</div>
						</th>
						<th class="headColumn">
							<div class="inTh">Ngày sinh</div>
							<div id="dateOfBirth" class="inTh">
								<button class="btnChangeOrder" onclick="onOrderStateChange('dateOfBirth', 'ASC')">
										<i class="glyphicon glyphicon-circle-arrow-up"></i>
								</button>
							</div>
						</th>
						<th class="headColumn">
							<div class="inTh">Giới tính</div>
							<div id="gender" class="inTh">
								<button class="btnChangeOrder" onclick="onOrderStateChange('gender', 'ASC')">
									<i class="glyphicon glyphicon-circle-arrow-up"></i>
								</button>
							</div>
						</th>
						<th class="headColumn">
							<div class="inTh">Địa chỉ</div>
							<div id="address" class="inTh">
								<button class="btnChangeOrder" onclick="onOrderStateChange('address', 'ASC')">
									<i class="glyphicon glyphicon-circle-arrow-up"></i>
								</button>
							</div>
						</th>
					</tr>
				</thead>
				<tbody id="tbodyRows">
				</tbody>
			</table>
		</div>
		<div id="divPageNumber"></div>
	</div>
	<footer>
		<div id="divTimeInfo"></div>
	</footer>
</div>

<div class="modal" id="divUpdateModal" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h4 class="modal-title">Cập nhật thông tin sinh viên</h4>
		</div>
		<div class="modal-body">
				<div class="inputElement">
					<label>Mã sinh viên</label>
					<input class="input" type="text" name="mssvUpdate" readonly>
				</div>
				<div class="inputElement">
					<label>Họ tên</label>
					<input class="input" type="text" name="nameUpdate">
				</div>
				<div class="inputElement">
					<label>Ngày sinh</label>
					<input class="input" type="text" name="dateOfBirthUpdate">
				</div>
				<div class="inputElement">
					<label>Giới tính</label>
					<input class="input" type="text" name="genderUpdate">
				</div>
				<div class="inputElement">
					<label>Địa chỉ</label>
					<input class="input" type="text" name="addressUpdate">
				</div>
		</div>
		<div class="modal-footer">
			<button class="btn btn-default" onclick="doUpdateStudent()">Thực thi</button>
			<button type="button" class="btn btn-default" data-dismiss="modal">Trở về</button>
		</div>
		</div>
	</div>
</div>
<div class="modal" id="divInsertModal" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h4 class="modal-title">Thêm sinh viên mới</h4>
		</div>
		<div class="modal-body">
				<div class="inputElement">
					<label>Mã sinh viên</label>
					<input class="input" type="text" name="mssvInsert">
				</div>
				<div class="inputElement">
					<label>Họ tên</label>
					<input class="input" type="text" name="nameInsert">
				</div>
				<div class="inputElement">
					<label>Ngày sinh</label>
					<input class="input" type="text" name="dateOfBirthInsert">
				</div>
				<div class="inputElement">
					<label>Giới tính</label>
					<input class="input" type="text" name="genderInsert">
				</div>
				<div class="inputElement">
					<label>Địa chỉ</label>
					<input class="input" type="text" name="addressInsert">
				</div>
		</div>
		<div class="modal-footer">
			<button class="btn btn-default" onclick="doInsertStudent()">Thực thi</button>
			<button type="button" class="btn btn-default" data-dismiss="modal">Trở về</button>
		</div>
		</div>
	</div>
</div>
<div class="modal" id="divDeleteModal" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h4 class="modal-title">Xóa sinh viên khỏi danh sách</h4>
		</div>
		<div class="modal-body">
				<div class="inputElement">
					<label>Mã sinh viên</label>
					<input class="input" type="text" name="mssvDelete" readonly>
				</div>
				<div class="inputElement">
					<label>Họ tên</label>
					<input class="input" type="text" name="nameDelete" readonly>
				</div>
		</div>
		<div class="modal-footer">
			<button class="btn btn-default" onclick="doDeleteStudent()">Thực thi</button>
			<button type="button" class="btn btn-default" data-dismiss="modal">Trở về</button>
		</div>
		</div>
	</div>
</div>