
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div id="main">
	<header class="center"><h1 style="color:#36bf36">Hệ thống quản lý sinh viên</h1></header>
	<div id="content">
		<div id="divInfo" class="center">
			<p>Đang xem <span id="spanInfo"></span></p>
		</div>
		<div id="divInsert" >
			<button type="button" class="btn btn-success" data-toggle="modal" data-target="#divInsertModal" style="margin-left: 73px;">
				<i class="glyphicon glyphicon-plus"></i>Thêm sinh viên
			</button><br>
			<div id="loc">
				<label>Bộ lọc</label>
				<select name="boloc" id="boloc" onchange=showDiv();>
					<option></option>
					<option value="masv">Mã sinh viên</option>
					<option value="ngaysinh">Ngày sinh</option>
					<option value="gioitinh">Giới tính</option>
					<option value="diachi">Địa chỉ</option>
				</select>
				
				<div id="masv" style="display: none;">
					<label for="">Giá trị </label>
					<select name="masv" id="">
						<option value="asc">Tăng dần</option>
						<option value="dsc">Giảm dần</option>
					</select>
				</div>
				<div id="ngaysinh" style="display: none;">
					<label for="">Giá trị</label>
					<select name="ngaysinh" id="">
						<option value="asc">Tăng dần</option>
						<option value="dsc">Giảm dần</option>
					</select>
				</div>
				<div id="gioitinh" style="display: none;">
					<label for="">Giá trị</label>
					<select name="gioitinh" id="">
						<option value="Nam">Nam</option>
						<option value="Nu">Nữ</option>
					</select>
				</div>
				<div id="diachi" style="display: none;">
					<label for="">Giá trị</label>
					<select name="dc" id="">
						<option value="asc">Tăng dần</option>
						<option value="dsc">Giảm dần</option>
					</select>
				</div>
				
			</div>
		</div>
		<div id="divSearch"  style="width: 23%;float: right;">
			<input type="text" style="padding-left: 5px; padding: 10px;border-color: green;" id="inputSearch" placeholder="Tìm theo tên, mã sinh viên..">
			<button class="btn btn-success"  id="btnSearch" onclick="searchStudent()" style="padding: 5px;">
				Tìm kiếm
				<i style="margin: 5px;" class="glyphicon glyphicon-search"></i>
			</button>
		</div>
		<div id="divTable">
			<table cellpadding="7">
				<caption>Danh sách sinh viên</caption>
				<thead>
					<th class="headColumn">
						<div class="inTh">
							Mã Sinh Viên
						</div>
						<div id="mssv" class="inTh">
							<button class="btnChangeOrder" onclick="sapXepMssv()">
								<i id="icon-mssv" class="glyphicon glyphicon-circle-arrow-up"></i>
							</button>
						</div>
					</th>
					<th class="headColumn">
						<div class="inTh">Họ và Tên</div>
						<div id="name" class="inTh">
							<button class="btnChangeOrder" onclick="sapXepTen()">
								<i id="icon-name" class="glyphicon glyphicon-circle-arrow-up">										
								</i>
							</button>
						</div>
					</th>
					<th class="headColumn">
						<div class="inTh">Ngày sinh</div>
						<div id="dateOfBirth" class="inTh">
							<button class="btnChangeOrder" onclick="sapXepNgaySinh()">
									<i id="icon-dob" class="glyphicon glyphicon-circle-arrow-up"></i>
							</button>
						</div>
					</th>
					<th class="headColumn">
						<div class="inTh">Giới tính</div>
						<div id="gender" class="inTh">
							<button class="btnChangeOrder" onclick="sapXepGioiTinh()">
								<i id="icon-gender" class="glyphicon glyphicon-circle-arrow-up"></i>
							</button>
						</div>
					</th>
					<th class="headColumn">
						<div class="inTh">Địa chỉ</div>
						<div id="address" class="inTh">
							<button class="btnChangeOrder" onclick="sapXepDiaChi()">
								<i id="icon-address" class="glyphicon glyphicon-circle-arrow-up"></i>
							</button>
						</div>
					</th>
					<th class="option">
						<p>Tùy chọn</p>
					</th>
				</thead>
				<tbody id="tbodyRows"></tbody>
			</table>
		</div>
		<div id="divPageNumber" class="center"></div>
	</div>
	<footer>
		<div id="divTimeInfo"></div>
	</footer>
</div>

<div class="modal" id="divUpdateModal" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h4 class="modal-title">Cập nhật thông tin sinh viên</h4>
		</div>
		<div class="modal-body">
				<div class="inputElement">
					<label>Mã sinh viên</label>
					<input id="inputMssvUpdate" class="input" type="text" name="mssvUpdate" oninput="checkInputData('inputMssvUpdate', constraint.mssv, 'mssvUpdateError')" readonly>
				</div>
				<div id="mssvUpdateError" class="divReportError"></div>
				<div class="inputElement">
					<label>Họ tên</label>
					<input id="inputNameUpdate" class="input" type="text" name="nameUpdate" oninput="checkInputData('inputNameUpdate', constraint.name, 'nameUpdateError')">
				</div>
				<div id="nameUpdateError" class="divReportError"></div>
				<div class="inputElement">
					<label>Ngày sinh</label>
					<input id="inputDateOfBirthUpdate" class="input" type="text" name="dateOfBirthUpdate" oninput="checkInputData('inputDateOfBirthUpdate', constraint.dateOfBirth, 'dateOfBirthUpdateError')">
				</div>
				<div id="dateOfBirthUpdateError" class="divReportError"></div>
				<div class="inputElement">
					<label>Giới tính</label>
					<input id="inputGenderUpdate" class="input" type="text" name="genderUpdate" oninput="checkInputData('inputGenderUpdate', constraint.gender, 'genderUpdateError')">
				</div>
				<div id="genderUpdateError" class="divReportError"></div>
				<div class="inputElement">
					<label>Địa chỉ</label>
					<input id="inputAddressUpdate" class="input" type="text" name="addressUpdate" oninput="checkInputData('inputAddressUpdate', constraint.address, 'addressUpdateError')">
				</div>
				<div id="addressUpdateError" class="divReportError"></div>
		</div>
		<div class="modal-footer">
			<button class="btn btn-default" onclick="doUpdateStudent()">Thực thi</button>
			<button type="button" class="btn btn-default" data-dismiss="modal">Trở về</button>
		</div>
		</div>
	</div>
</div>
<div class="modal" id="divInsertModal" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h4 class="modal-title">Thêm sinh viên mới</h4>
		</div>
		<div class="modal-body">

				<div class="inputElement">
					<label>Mã sinh viên</label>
					<input id="inputMssvInsert" class="input" type="text" name="mssvInsert" oninput="checkInputData('inputMssvInsert', constraint.mssv, 'mssvInsertError')">
				</div>
				<div id="mssvInsertError" class="divReportError"></div>

				<div class="inputElement">
					<label>Họ tên</label>
					<input id="inputNameInsert" class="input" type="text" name="nameInsert" oninput="checkInputData('inputNameInsert', constraint.name, 'nameInsertError')">
				</div>
				<div id="nameInsertError" class="divReportError"></div>
				<div class="inputElement">
					<label>Ngày sinh</label>
						<input id="inputDateOfBirthInsert" class="input" type="text" name="dateOfBirthInsert" oninput="checkInputData('inputDateOfBirthInsert', constraint.dateOfBirth, 'dateOfBirthInsertError')">
		
						<input type='text' class="form-control" id="inputDateOfBirthInsert" />
						<span class="input-group-addon">
						<span class="glyphicon glyphicon-calendar"></span>
						</span>
					 </div>
				 
				</div>
				<div id="dateOfBirthInsertError" class="divReportError"></div>
				<div class="inputElement">
					<label>Giới tính</label>
					<input id="inputGenderInsert" class="input" type="text" name="genderInsert" oninput="checkInputData('inputGenderInsert', constraint.gender, 'genderInsertError')">
				</div>
				<div id="genderInsertError" class="divReportError"></div>
				<div class="inputElement">
					<label>Địa chỉ</label>
					<input id="inputAddressInsert" class="input" type="text" name="addressInsert" oninput="checkInputData('inputAddressInsert', constraint.address, 'addressInsertError')">
				</div>
				<div id="addressInsertError" class="divReportError"></div>
		</div>
		<div class="modal-footer">
			<button class="btn btn-default" onclick="doInsertStudent()">Thực thi</button>
			<button type="button" class="btn btn-default" data-dismiss="modal">Trở về</button>
		</div>
		</div>
	</div>
</div>
<div class="modal" id="divDeleteModal" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h4 class="modal-title">Xóa sinh viên khỏi danh sách</h4>
		</div>
		<div class="modal-body">
				<div class="inputElement">
					<label>Mã sinh viên</label>
					<input class="input" type="text" name="mssvDelete" readonly>
				</div>
				<div class="inputElement">
					<label>Họ tên</label>
					<input class="input" type="text" name="nameDelete" readonly>
				</div>
		</div>
		<div class="modal-footer">
			<button class="btn btn-default" onclick="doDeleteStudent()">Thực thi</button>
			<button type="button" class="btn btn-default" data-dismiss="modal">Trở về</button>
		</div>
		</div>
	</div>
</div>

<div class="modal" id="divReportSuccess" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 id="hReport" class="modal-title"></h4>
			</div>
		</div>
	</div>
</div>